{% extends 'adminbase.html.twig' %}

{% block title %}Kategori Listesi{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1>
                Kategoriler
                <small><a class="btn btn-warning" href="{{ path('admin_category_new') }}">Kategori Ekleme</a></small>
            </h1>

        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="#">Kategori Listesi</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title">Kategori Tablosu</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Parentid</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Status</th>
                <th>Göster</th>
                <th>Düzenle</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.parentid }}</td>
                    <td>{{ category.title }}</td>
                    <td>{{ category.keywords }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.status }}</td>

                    <td><a href="{{ path('admin_category_show', {'id': category.id}) }} "class=" btn btn-block btn-primary btn-xs">Göster<a/></a></td>
                    <td>  <a href="{{ path('admin_category_edit', {'id': category.id,'pid':category.parentid}) }}" class="btn btn-block btn-danger btn-xs">Düzenle<a/></td>

                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {% endblock %}
