{% extends 'adminbase.html.twig' %}

{% block title %}Product Listesi{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="page-title">
        <div>
            <h1>
                Products
                <small><a class="btn btn-warning" href="{{ path('admin_product_new') }}">Yeni Product Ekleme</a></small>
            </h1>

        </div>
        <div>
            <ul class="breadcrumb">
                <li><i class="fa fa-home fa-lg"></i></li>
                <li><a href="#">Product Listesi</a></li>
            </ul>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title">Product Tablosu</h3>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Amount</th>
                <th>Pprice</th>
                <th>Sprice</th>
                <th>Min</th>
                <th>Image</th>
                <th>Gallery</th>
                <th>Category_id</th>

                <th>Status</th>
                <th>Göster</th>
                <th>Düzenle</th>

            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.pprice }}</td>
                    <td>{{ product.sprice }}</td>
                    <td>{{ product.min }}</td>

                    <td>
                        <a href="javascript:openWin('{{ path('admin_product_iedit', {'id': product.id}) }} }}','','toolbar-no,location-no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=600,height=500');">
                            {% if product.image == null %}
                                <img src="{{ url('admin') }}/img/image.png" height="32">
                            {% else %}
                                <img src="{{ asset('uploads') }}/images/{{ product.image }}" height="40">
                                    {{ product.image }}
                            {% endif %}
                        </a>
                    </td>


                    <td>
                        <a href="javascript:openWin('{{ path('admin_image_new', {'pid': product.id}) }} }}','','toolbar-no,location-no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=1000,height=800');">
                            <img src="{{ url('admin') }}/img/gallery.jpg" height="32"> </a>

                    <td>{{ product.categoryId }}</td>

                    <td>{{ product.status }}</td>

                    <td>
                    <td><a href="{{ path('admin_product_show', {'id': product.id}) }} "class=" btn btn-block btn-primary btn-xs">Göster<a/></a></td>
                    <td>  <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="btn btn-block btn-danger btn-xs">Düzenle<a/> </td>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="18">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('admin_product_new') }}">Yeni Oluştur</a>
        {% endblock %}
